
@{
    ViewBag.Title = "a1";
    Layout = "~/Views/Shared/_EcommerceLayout.cshtml";
}

<div style="margin: 0 2px;">
    <div class="inline-block va-top ww20 wh" style="border:1px solid #b200ff;
            border-radius:4px; box-shadow: 0 3px 9px rgba(0,0,0,.5); margin-right:10px;">
        <div style="padding:8px 13px;">
        <div class="newline n1">
            <label class="la2 drkk">CATEGORIES</label>
        </div>
        <div class="newline n1">
            <label class="la1">- Sporting Goods</label>
        </div>
        <div class="newline n1">
            <label class="la1">- Fashion</label>
        </div>
        </div>
    </div>

    <div class="inline-block va-top www75 wh" style="border:1px solid #b200ff;
            border-radius:4px; box-shadow: 0 3px 9px rgba(0,0,0,.5);">
        
        <div style="padding: 10px 16px 0 16px;">
            <div class="inline-block va-top www50 all">
                <div class="newline n1">
                    <label class="la3 drkk">Shop Online in Nigeria</label>
                </div>
            </div>
            <div class="inline-block va-top www50 alr">
                <div class="newline n1">
                    <label class="la1"><span class="drkk la2">Sort By: </span> Popularity</label>
                </div>
            </div>
        </div>

        <hr class="clm" />

        <div style="padding: 10px 16px 0 16px;">
            <div class="inline-block va-top www50 all">
                <div class="newline n1">
                    <label class="la1">149 products found</label>
                </div>
            </div>
            <div class="inline-block va-top www50 alr">
                <div class="newline n1">
                    <label class="ll drk">
                        <span class="fa fa-book"></span>
                        <span class="fa fa-th cora" style="padding-left:5px;"></span>
                    </label>
                </div>
            </div>
        </div>

        <hr class="clm" />

        <div class="all" style="margin: 8px;">

            <div class="inline-block va-top www25 v-7" style="margin: 0; padding:8px;
                        border: 1px solid #f8f0f0; border-radius:4px;
                        box-shadow:0 1px 3px rgba(0,0,0,.13);">
                <div class="newline n1 alc" style="height:50%; margin:-7px -7px 0 -7px !important;">
                    <img class="ww100 vv100" src="~/Content/Images/homee.png" />
                </div>
                <div style="height:30%;" class="">
                    <div class="newline n1 all">
                        <label class="la1">50kg American Fitness Barbell Set</label>
                    </div>
                    <div class="newline n1 all">
                        <label class="la2 drkk"># 75,499</label>
                    </div>
                </div>
                <div class="newline n1 alc">
                    <a href="#" style="text-decoration:none;">
                        <input class="ww100 la2 drkk" style="padding:8px 16px;
                                                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                                                    color: #fff;
                                                    background-color: #f68b1e;
                                                    cursor: pointer;
                                                    line-height:1rem;
                                                    text-transform:uppercase;
                                                    border:0;
                                                    border-radius:4px;
                                                    " 
                               type="button" value="ADD TO CART" />
                    </a>
                </div>
            </div>

        </div>

        <hr class="clm" />

        <div class="alc">
            <input type="button" value="<<<<" class="btn-primary" />
            <input type="button" value="<<" class="btn-primary" />
            <input type="button" value=">>" class="btn-primary" />
            <input type="button" value=">>>>" class="btn-primary" />
        </div>

    </div>
</div>





<div style="margin:16px 2px 0 2px;">

    <div class="wh" style="border:1px solid #b200ff;
            border-radius:4px; box-shadow: 0 3px 9px rgba(0,0,0,.5);">

        <div class="all" style="margin: 8px;">

            <div class="inline-block va-mid ww40 clm" style="padding:8px;">
                <div class="newline n1 alc v-7" style="margin:-7px -7px 0 -7px !important;">
                    <img class="ww100 vv100" src="~/Content/Images/homee.png" />
                </div>
            </div>

            <div class="inline-block va-mid ww55 clm" style="padding:8px;">
                <div style="" class="">
                    <div class="newline n1 all">
                        <label class="la3">50kg American Fitness Barbell Set</label>
                    </div>

                    <hr />
                    
                    <div class="newline n1 all">
                        <label class="la2 drk"># 75,499</label>
                    </div>

                    <hr />

                    <input type="button" value="ADD TO CART" style="padding: 16px;
                                                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                                                    color: #fff;
                                                    background-color: #f68b1e;
                                                    cursor: pointer;
                                                    line-height:1rem;
                                                    text-transform:uppercase;
                                                    border:0;
                                                    border-radius:4px;"
                           class="la2 drkk ww100 clm" />

                </div>
            </div>

        </div>

    </div>

</div>


<div style="margin:16px 2px 0 2px;">

    <div class="wh" style="border:1px solid #b200ff;
            border-radius:4px; box-shadow: 0 3px 9px rgba(0,0,0,.5);">

        <div class="all" style="padding: 16px;">

            <div class="scroll">

                <table>
                    <tr>
                        <th class="all">ITEM</th>
                        <th class="alc">REMOVE</th>
                        <th class="alr">QUANTITY</th>
                        <th class="alr">UNIT PRICE</th>
                        <th class="alr">SUB TOTAL</th>
                    </tr>

                    <tr>
                        <td class="all">
                            <div>
                                <div class="inline-block ww25 va-mid">
                                    <div class="newline n1 alc v-1 w-3">
                                        <img class="ww100 vv100" src="~/Content/Images/homee.png" />
                                    </div>
                                </div>
                                <div class="inline-block ww70 va-mid">
                                    <div class="newline n1 all">
                                        <label class="la1">50kg American Fitness Barbell Set</label>
                                    </div>
                                    <div class="newline n1 all">
                                        <label class="la2 drkk"># 75,499</label>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td class="alc">
                            <label class="la3 drkk cblu"><i class="fa fa-trash"></i></label>
                        </td>

                        <td class="alr">
                            <select name="cbo" class="input w-2 alc increase-height">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </td>

                        <td class="alr"># 79,999</td>

                        <td class="alr"># 79,999</td>
                    </tr>
                </table>

            </div>


            <br />
            <br />
            <div class="newline n1 ww75 alcc">
                <div class="inline-block va-mid www50 alc">
                    <label class="la3 faf">
                        PROCEED TO CHECKOUT BELOW ?
                    </label>
                </div>
                <div class="inline-block va-mid www50 alc">
                    <input type="button" value="CONTINUE SHOPPING" style="padding: 16px;
                                                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                                                    color: #fff;
                                                    background-color: #f68b1e;
                                                    cursor: pointer;
                                                    line-height:1rem;
                                                    text-transform:uppercase;
                                                    border:0;
                                                    border-radius:4px;"
                           class="la2 drkk ww80" />
                </div>
            </div>

            <div class="alcc ww80 alc">

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <div class="newline n1">
                    <label class="drk cblu la2">BILLING DETAILS</label>
                </div>

                <br />
                <div class="all">
                    <div class="inline-block va-top www30 all">
                        <div class="newline n1">
                            <label class="la1 drkk all">First Name</label>
                        </div>
                        <div class="newline n1">
                            <input class="input ww80 tpd" type="text" />
                        </div>
                    </div>
                    <div class="inline-block va-top www30 all">
                        <div class="newline n1">
                            <label class="la1 drkk all">Last Name</label>
                        </div>
                        <div class="newline n1">
                            <input class="input ww80 tpd" type="text" />
                        </div>
                    </div>
                    <div class="inline-block va-top www30 all">
                        <div class="newline n1">
                            <label class="la1 drkk all">Additional Order Info.</label>
                        </div>
                        <div class="newline n1">
                            <input class="input ww80 tpd" type="text" />
                        </div>
                    </div>
                </div>

                <br />
                <div class="all">
                    <div class="inline-block va-top www30 all">
                        <div class="newline n1">
                            <label class="la1 drkk all">Country</label>
                        </div>
                        <div class="newline n1">
                            <input class="input ww80 tpd" type="text" />
                        </div>
                    </div>
                    <div class="inline-block va-top www30 all">
                        <div class="newline n1">
                            <label class="la1 drkk all">State</label>
                        </div>
                        <div class="newline n1">
                            <input class="input ww80 tpd" type="text" />
                        </div>
                    </div>
                    <div class="inline-block va-top www30 all">
                        <div class="newline n1">
                            <label class="la1 drkk all">City</label>
                        </div>
                        <div class="newline n1">
                            <input class="input ww80 tpd" type="text" />
                        </div>
                    </div>
                </div>

                <br />
                <div class="all">
                    <div class="inline-block va-top www30 all">
                        <div class="newline n1">
                            <label class="la1 drkk all">Delivery Address</label>
                        </div>
                        <div class="newline n1">
                            <input class="input ww80 tpd" type="text" />
                        </div>
                    </div>
                    <div class="inline-block va-top www30 all">
                        <div class="newline n1">
                            <label class="la1 drkk all">Phone No.</label>
                        </div>
                        <div class="newline n1">
                            <input class="input ww80 tpd" type="text" />
                        </div>
                    </div>
                    <div class="inline-block va-top www30 all">
                        <div class="newline n1">
                            <label class="la1 drkk all">Email</label>
                        </div>
                        <div class="newline n1">
                            <input class="input ww80 tpd" type="text" />
                        </div>
                    </div>
                </div>


            </div>



            <br />
            <br />
            <div class="newline n1 ww75 alcc">
                <div class="alc">
                    <input type="button" value="C H E C K O U T" style="padding: 16px;
                                                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                                                    color: #fff;
                                                    background-color: #4caf50;
                                                    cursor: pointer;
                                                    line-height:1rem;
                                                    text-transform:uppercase;
                                                    border:0;
                                                    border-radius:4px;"
                           class="la2 drkk ww50" />
                </div>
            </div>


        </div>

    </div>

</div>







<div style="margin:16px 2px 0 2px;">
    
    <div class="wh" style="border:1px solid #b200ff;
            border-radius:4px; box-shadow: 0 3px 9px rgba(0,0,0,.5);">

        <div style="padding: 10px 16px 0 16px;">
            <div class="newline n1 all">
                <label class="la3 drkk">More Items</label>
            </div>
        </div>

        <hr class="clm" />

        <div class="all" style="margin: 8px;">

            <div class="inline-block va-top www25" style="margin: 0; padding:8px;
                        border: 1px solid #f8f0f0; border-radius:4px;
                        box-shadow:0 1px 3px rgba(0,0,0,.13);">
                <div class="newline n1 alc v-4" style="margin:-7px -7px 0 -7px !important;">
                    <img class="ww100 vv100" src="~/Content/Images/homee.png" />
                </div>
                <div style="" class="">
                    <div class="newline n1 all">
                        <label class="la1">50kg American Fitness Barbell Set</label>
                    </div>
                    <div class="newline n1 all">
                        <label class="la2 drkk"># 75,499</label>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div style="margin:16px 2px 0 2px;">


    <div class="wh" style="border:1px solid #b200ff;
            border-radius:4px; box-shadow: 0 3px 9px rgba(0,0,0,.5);">

        <div style="padding: 10px 16px 0 16px;">
            <div class="newline n1 all">
                <label class="la3 drkk">Popular Products</label>
            </div>
        </div>

        <hr class="clm" />

        <div class="all" style="margin: 8px;">

            <div class="inline-block va-top www25" style="margin: 0; padding:8px;
                        border: 1px solid #f8f0f0; border-radius:4px;
                        box-shadow:0 1px 3px rgba(0,0,0,.13);">
                <div class="newline n1 alc v-4" style="margin:-7px -7px 0 -7px !important;">
                    <img class="ww100 vv100" src="~/Content/Images/homee.png" />
                </div>
                <div style="" class="">
                    <div class="newline n1 all">
                        <label class="la1">50kg American Fitness Barbell Set</label>
                    </div>
                    <div class="newline n1 all">
                        <label class="la2 drkk"># 75,499</label>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div style="margin:16px 2px 0 2px;">


    <div class="wh" style="border:1px solid #b200ff;
            border-radius:4px; box-shadow: 0 3px 9px rgba(0,0,0,.5);">

        <div style="padding: 10px 16px 0 16px;">
            <div class="newline n1 all">
                <label class="la3 drkk">You May Also Like</label>
            </div>
        </div>

        <hr class="clm" />

        <div class="all" style="margin: 8px;">

            <div class="inline-block va-top www25" style="margin: 0; padding:8px;
                        border: 1px solid #f8f0f0; border-radius:4px;
                        box-shadow:0 1px 3px rgba(0,0,0,.13);">
                <div class="newline n1 alc v-4" style="margin:-7px -7px 0 -7px !important;">
                    <img class="ww100 vv100" src="~/Content/Images/homee.png" />
                </div>
                <div style="" class="">
                    <div class="newline n1 all">
                        <label class="la1">50kg American Fitness Barbell Set</label>
                    </div>
                    <div class="newline n1 all">
                        <label class="la2 drkk"># 75,499</label>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
