
@{
    ViewBag.Title = "DoctorsConsultingRoomDef";
    ViewBag.TitleBar = "DOCTORS CONSULTING ROOMS DEFINITION";
    Layout = "~/Views/Shared/_MRFormLayout.cshtml";
}


<section>
    <form method="post" action="#">

        <div class="diff">


            <!--Left-Table-->

            <section class="inline-block ww50 va-top">

                <div class="scroll">
                    <table>
                        <tr>
                            <th class="alc ">Reference</th>
                            <th class="alc ">Description</th>
                            <th class="alc ">Location</th>
                        </tr>

                        <tr>
                            <td class="alc ">12</td>
                            <td class="alc ">ANC CONSULTING ROOM</td>
                            <td class="alc ">GROUND FLOOR</td>
                        </tr>

                        <tr>
                            <td class="alc ">12</td>
                            <td class="alc ">ANC CONSULTING ROOM</td>
                            <td class="alc ">GROUND FLOOR</td>
                        </tr>

                        <tr>
                            <td class="alc ">12</td>
                            <td class="alc ">ANC CONSULTING ROOM</td>
                            <td class="alc ">GROUND FLOOR</td>
                        </tr>

                        <tr>
                            <td class="alc ">12</td>
                            <td class="alc ">ANC CONSULTING ROOM</td>
                            <td class="alc ">GROUND FLOOR</td>
                        </tr>

                    </table>
                </div>

            </section>



            <!--Right-Table-->

            <section class="inline-block ww45 va-top">

                <div class="scroll">
                    <table>
                        <tr>
                            <th class="alc ">Last Used By</th>
                            <th class="alc ">Login DateTime</th>
                            <th class="alc ">Logout DateTime</th>
                            <th class="alc ">Frequency</th>
                            <th class="alc ">RECID</th>
                            <th class="alc ">Active Logs</th>
                            <th class="alc ">Occupied</th>
                        </tr>

                        <tr>
                            <td class="alc ">OLABODE</td>
                            <td class="alc ">06/11/2017 08:09:25</td>
                            <td class="alc ">07/11/2017 12:32:49</td>
                            <td class="alc ">150</td>
                            <td class="alc ">10</td>
                            <td class="alc ">1</td>
                            <td class="alc ">NO</td>
                        </tr>

                        <tr>
                            <td class="alc ">OLABODE</td>
                            <td class="alc ">06/11/2017 08:09:25</td>
                            <td class="alc ">07/11/2017 12:32:49</td>
                            <td class="alc ">150</td>
                            <td class="alc ">10</td>
                            <td class="alc ">1</td>
                            <td class="alc ">NO</td>
                        </tr>


                        <tr>
                            <td class="alc ">OLABODE</td>
                            <td class="alc ">06/11/2017 08:09:25</td>
                            <td class="alc ">07/11/2017 12:32:49</td>
                            <td class="alc ">150</td>
                            <td class="alc ">10</td>
                            <td class="alc ">1</td>
                            <td class="alc ">NO</td>
                        </tr>


                        <tr>
                            <td class="alc ">OLABODE</td>
                            <td class="alc ">06/11/2017 08:09:25</td>
                            <td class="alc ">07/11/2017 12:32:49</td>
                            <td class="alc ">150</td>
                            <td class="alc ">10</td>
                            <td class="alc ">1</td>
                            <td class="alc ">NO</td>
                        </tr>


                    </table>
                </div>

            </section>


            <!--Button Below-->

            <div class="dif">
                <div class="newline n1 alc">

                    <label class="label w-4"></label>
                    <input type="button" name="btnPrint" value="Submit" class="btn clm" />
                    <input type="button" name="btnPrint" value="Delete" class="btn clm" />

                    <label class="label w-3"></label>
                    <input type="button" name="btnPrint" value="Close" class="btn clm" />

                </div>
            </div>


        </div>

    </form>
</section>

