
@{
    ViewBag.Title = "RoutineDrugsDefinition";
    ViewBag.TitleBar = "ROUTINE DRUGS DEFINITION";
    Layout = "~/Views/Shared/_MRFormLayout.cshtml";
}


<section>
    <form method="post" action="#">

        <div class="dif">

            <!--Table-->

            <section class="">

                <div class="scroll">
                    <table>
                        <tr>
                            <th class="alc ">REFERENCE</th>
                            <th class="alc ">DRUGS</th>
                            <th class="alc ">CODE</th>
                            <th class="alc ">QTY</th>
                            <th class="alc ">UNIT</th>
                            <th class="alc ">COST</th>
                            <th class="alc ">TXTDOSE</th>
                            <th class="alc ">TXTINTERVAL</th>
                            <th class="alc ">TXTDURATION</th>
                            <th class="alc ">WHENHOW</th>
                            <th class="alc ">GLOBAL_DIFF_CHG</th>
                            <th class="alc ">CORP_DIFF_CH</th>
                            <th class="alc ">STATUS</th>
                            <th class="alc ">RECID</th>
                        </tr>

                        <tr>
                            <td class="alc ">ANC1WK</td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">HVM011</td>
                            <td class="alc ">28.00</td>
                            <td class="alc ">TAB</td>
                            <td class="alc ">0.00</td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA" name="chk" />
                                    <label for="chkSRA" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA1" name="chk" />
                                    <label for="chkSRA1" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc ">OLDREC</td>
                            <td class="alc ">1</td>

                        </tr>

                        <tr>
                            <td class="alc ">ANC1WK</td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">HVM011</td>
                            <td class="alc ">28.00</td>
                            <td class="alc ">TAB</td>
                            <td class="alc ">0.00</td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA2" name="chk" />
                                    <label for="chkSRA2" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA3" name="chk" />
                                    <label for="chkSRA3" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc ">OLDREC</td>
                            <td class="alc ">1</td>

                        </tr>

                        <tr>
                            <td class="alc ">ANC1WK</td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">HVM011</td>
                            <td class="alc ">28.00</td>
                            <td class="alc ">TAB</td>
                            <td class="alc ">0.00</td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA4" name="chk" />
                                    <label for="chkSRA4" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA5" name="chk" />
                                    <label for="chkSRA5" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc ">OLDREC</td>
                            <td class="alc ">1</td>

                        </tr>

                        <tr>
                            <td class="alc ">ANC1WK</td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">HVM011</td>
                            <td class="alc ">28.00</td>
                            <td class="alc ">TAB</td>
                            <td class="alc ">0.00</td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA6" name="chk" />
                                    <label for="chkSRA6" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA7" name="chk" />
                                    <label for="chkSRA7" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc ">OLDREC</td>
                            <td class="alc ">1</td>

                        </tr>



                    </table>
                </div>

            </section>



            <!--Button Below-->

            <div class="dif">
                <div class="newline n1 alc">

                    <label class="label"></label>
                    <input type="button" name="btnPrint" value="Submit" class="btn clm" />
                    <input type="button" name="btnPrint" value="Delete" class="btn clm" />

                    <label class="label w-1"></label>
                    <input type="button" name="btnPrint" value="Close" class="btn clm" />

                </div>
            </div>


        </div>


    </form>
</section>

