
@{
    ViewBag.Title = "SpecialConsultationChargeProfile";
    ViewBag.TitleBar = "SPECIALIST CONSULTATION CHARGE PROFILE BY CLINIC";
    Layout = "~/Views/Shared/_MRFormLayout.cshtml";
}


<section>
    <form method="post" action="#">

        <div class="dif">


            <div class="newline n1">
                <label class="label w-8 w-35 drk">SPECIALIST CONSULTATION CODE</label>
                <input type="text" name="txt" value="" class="input w-4 w-50" />

                <span class="span">
                    <label class="label w-2 w-35 drk">Description</label>
                    <input type="text" name="txt" value="" class="input w-7 w-50" />
                </span>
            </div>

            <!--Left Table-->

            <section class="inline-block ww50">


                <div class="newline n1">
                    <label class="label w-10 al-c drk"><h3>GENERAL LIST</h3></label>
                </div>


                <div class="scroll">
                    <table>
                        <tr>
                            <th class="alc ">Clinic</th>
                            <th class="alc ">Bill_Description</th>
                            <th class="alc ">Amount</th>
                            <th class="alc ">FollowUpAmnt</th>
                            <th class="alc ">Days</th>
                            <th class="alc ">SameMnth</th>
                            <th class="alc ">Corp_Diff_Chg</th>
                            <th class="alc ">Code</th>
                            <th class="alc ">Status</th>
                        </tr>

                        <tr>
                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">INTERNAL MEDICINE</td>
                            <td class="alc ">7,500.00</td>
                            <td class="alc ">0</td>
                            <td class="alc "></td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA" name="chk" />
                                    <label for="chkSRA" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA1" name="chk" />
                                    <label for="chkSRA1" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc ">INT</td>
                            <td class="alc ">OLDREC</td>

                        </tr>

                        <tr>
                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">INTERNAL MEDICINE</td>
                            <td class="alc ">7,500.00</td>
                            <td class="alc ">0</td>
                            <td class="alc "></td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA2" name="chk" />
                                    <label for="chkSRA2" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA3" name="chk" />
                                    <label for="chkSRA3" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc ">INT</td>
                            <td class="alc ">OLDREC</td>

                        </tr>

                        <tr>
                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">INTERNAL MEDICINE</td>
                            <td class="alc ">7,500.00</td>
                            <td class="alc ">0</td>
                            <td class="alc "></td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA4" name="chk" />
                                    <label for="chkSRA4" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA5" name="chk" />
                                    <label for="chkSRA5" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc ">INT</td>
                            <td class="alc ">OLDREC</td>

                        </tr>

                        <tr>
                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">INTERNAL MEDICINE</td>
                            <td class="alc ">7,500.00</td>
                            <td class="alc ">0</td>
                            <td class="alc "></td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA6" name="chk" />
                                    <label for="chkSRA6" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA7" name="chk" />
                                    <label for="chkSRA7" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc ">INT</td>
                            <td class="alc ">OLDREC</td>

                        </tr>


                    </table>
                </div>



            </section>


            <!--Right Table-->

            <section class=" inline-block ww45 va-top">

                <div class="newline n1">
                    <label class="label w-10 al-c drk"><h3>COMPANY RATES</h3></label>
                </div>

                <div class="scroll">
                    <table>
                        <tr>
                            <th class="alc ">Customer</th>
                            <th class="alc ">Amount</th>
                            <th class="alc ">FollowUpAmnt</th>
                            <th class="alc ">Days</th>
                            <th class="alc ">SameMnth</th>
                            <th class="alc ">Code</th>
                            <th class="alc ">Status</th>
                            <th class="alc ">Clinic</th>
                        </tr>

                        <tr>
                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">0</td>
                            <td class="alc ">0</td>
                            <td class="alc "></td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA8" name="chk" />
                                    <label for="chkSRA8" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc "></td>
                            <td class="alc "></td>
                            <td class="alc "></td>

                        </tr>

                        <tr>
                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">0</td>
                            <td class="alc ">0</td>
                            <td class="alc "></td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA9" name="chk" />
                                    <label for="chkSRA9" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc "></td>
                            <td class="alc "></td>
                            <td class="alc "></td>

                        </tr>

                        <tr>
                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">0</td>
                            <td class="alc ">0</td>
                            <td class="alc "></td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA10" name="chk" />
                                    <label for="chkSRA10" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc "></td>
                            <td class="alc "></td>
                            <td class="alc "></td>

                        </tr>

                        <tr>
                            <td class="alc ">
                                <input type="text" list="cbo" class="input w-4 w-50 increase-height" />
                                <datalist id="cbo">
                                    <option value="">-Select VALUE-</option>
                                    <option value="VALUE">VALUE</option>
                                </datalist>
                            </td>

                            <td class="alc ">0</td>
                            <td class="alc ">0</td>
                            <td class="alc "></td>

                            <td class="alc ">
                                <div class="newline n1">
                                    <input type="checkbox" id="chkSRA11" name="chk" />
                                    <label for="chkSRA11" class="ll transp">:</label>
                                </div>
                            </td>

                            <td class="alc "></td>
                            <td class="alc "></td>
                            <td class="alc "></td>

                        </tr>


                    </table>
                </div>

            </section>



            <!--Button Below-->

            <div class="dif">
                <div class="newline n1 alc">

                    <label class="label "></label>
                    <input type="button" name="btnPrint" value="Remove" class="btn clm" />

                    <label class="label w-4"></label>
                    <input type="button" name="btnPrint" value="Submit" class="btn clm" />

                    <label class="label w-4"></label>
                    <input type="button" name="btnPrint" value="Remove" class="btn clm" />

                    <label class="label w-4"></label>
                    <input type="button" name="btnPrint" value="Close" class="btn clm" />

                </div>
            </div>


        </div>
        
    </form>
</section>

