
@{
    ViewBag.Title = "WoundDressingDetails";
    ViewBag.TitleBar = "WOUND DRESSING DETAILS";
    Layout = "~/Views/Shared/_MRFormLayout.cshtml";
}

<section>
    <form method="post" action="#">

        <section class="dif">
            <div class="scroll">
                <table>
                    <tr>
                        <th class="alc ">S/N</th>
                        <th class="alc ">Reference</th>
                        <th class="alc ">Patient Name</th>
                        <th class="alc ">Group Code</th>
                        <th class="alc ">Patient No.</th>
                        <th class="alc ">Date</th>
                        <th class="alc ">Descriptions</th>
                        <th class="alc ">Duration</th>
                        <th class="alc ">Amount</th>
                        <th class="alc ">Bills Payable By</th>
                       
                    </tr>

                    <tr>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                       
                    </tr>

                    <tr>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                       
                    </tr>

                    <tr>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                       
                    </tr>

                    <tr>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        
                    </tr>

                    <tr>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        
                    </tr>

                    <tr>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        <td class="alc ">.</td>
                        <td class="alc "></td>
                        
                    </tr>
                </table>
            </div>

            <div class="dif">

                <label class="label w-1 w-35"></label>
                <input type="button" name="btnPrint" value="Dressing Details" class="btn clm" />

                <label class="label w-35"></label>
                <input type="button" name="btnPrint" value="Load List" class="btn clm" />

                <label class="label w-35"></label>
                <input type="button" name="btnPrint" value="Add" class="btn clm" />

                <input type="button" name="btn" value="" class="btn-small" />

                <span class="span al-c">
                    <input type="checkbox" id="chkSRA" name="chk" />
                    <label for="chkSRA" class="label drk">Today's Consult Only</label>
                </span>

                <label class="label w-1 w-35"></label>
                <input type="button" name="btnPrint" value="Delete" class="btn clm" />

                <label class="label w-1 w-35"></label>
                <input type="button" name="btnPrint" value="Close" class="btn clm" />
            </div>


        </section>

    </form>
</section>
